<!-- templates/coordinator_survey_list_view.html-->

{% extends 'coordinator_base.html' %}

{% block title %}Surveys{% endblock title %}

{% block content %}
  
  {% for s in surveys %}
    <div class="card">
      <div class="card-header">
        <span class="font-weight-bold">SPE Survey {{ s.id }}</span> &middot;
        <span class="text-muted">by {{ user.title }} {{ user.given_names }} {{ user.last_name }} |
        Created on: {{ s.date_created }}</span>
      </div>
      <div class="card-body">
        {{ s.questions.count }} questions
      </div>
      <div class="card-footer text-center text-muted">
        <a href="{% url 'update_survey' s.id %}">Edit Survey</a> | 
        <a href="{% url 'create_question' s.id %}">Add New Question</a> | 
        <a href="{% url 'delete_survey' s.id %}">Delete Survey</a> |
        <a href="{% url 'delete_survey' s.id %}">Activate Survey</a> |
      </div>
    </div>
  {% endfor %}
  <a class="btn btn-primary" type="button" href="{% url 'create_survey' %}">Add Survey</a>
{% endblock content %}