<!-- templates/create_survey.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<form method="POST" enctype="multipart/form-data" id="survey-form">
  {% csrf_token %}
  {{ form.as_p }}
  {{ formset.management_form }}
  {% for q in questions %}
  <div class="question-form d-flex justify-content-between">
    {{ q.as_p }}
    <button class="align-self-center btn btn-danger delete-question-form">Delete</button>
  </div>
  {% endfor %}

  <input type="submit" name="submit" value="Submit" class="btn btn-primary" />
  <button id="add-question-form" class="btn btn-primary my-3">Add A Duplicate Question</button>
  
</form>


    
    
{% endblock %}
{% block extra_js %}
  <script>
    const addQuestionFormBtn = document.querySelector("#add-question-form");
    const submitFormBtn = document.querySelector('[type="submit"]')
    const questionForm = document.getElementsByClassName("question-form")
    const mainForm = document.querySelector("#survey-form");
    const totalForms = document.querySelector("#id-form-TOTAL_FORMS")

    let formCount = questionForm.length - 1;

    addQuestionFormBtn.addEventListener("click", function (event) {
      event.preventDefault();
      
      // Clone new question form
      const newQuestionForm = questionForm[0].cloneNode(true);
      console.log(newQuestionForm)
      const formRegex = RegExp('form-(//d){1}-', 'g');
      formCount++;

      // Insert New Form before Submit button
      newQuestionForm.innerHTML = newQuestionForm.innerHTML.replace(formRegex, 'form-${formCount}-');
      mainForm.insertBefore(newQuestionForm, submitFormBtn);
      totalForms.setAttribute('value', '${formCount + 1}');
    });

    mainForm.addEventListener("click", function (event) {
      if (event.target.classList.contains("delete-question-form")) {
        event.preventDefault();
        event.target.parentElement.remove();
        formCount--;
        totalForms.setAttribute('value', '${formCount + 1}');
      }
    })


    $("#form").dirty({
      preventLeaving: true,
      leavingMessage: "There are unsaved changes on this page which will be discarded if you continue."});
    console.log('Dirty')
  </script>
{% endblock %}