<!-- templates/delete_question.html -->

<form method="post">{% csrf_token %}
<p>Are you sure you want to delete the selected Question with the following attributes:</p>
  <ul>
    <li>Question ID: {{ question.id }}</li>
    <li>Question Prompt: {{ question.prompt }}</li>
    <li>Question Weighting: {{ question.weighting }}</li>
    {% if question.question_type == 'C' %}
      <li>Question Type: Comment</li>
    {% elif question.question_type == 'R' %}
      <li>Question Type: Rating</li>
    {% endif %}

    {% if question.evaluation_type == 'S' %}
      <li>Evaluation Type: Self Evaluation</li>
    {% elif question.evaluation_type == 'P' %}
      <li>Evaluation Type: Peer Evaluation</li>
    {% endif %}
  </ul>
  <input type="submit" value="Confirm">
</form>