<!-- templates/student_survey_list_view.html -->

{% extends 'student_base.html' %}
{% load tz %}
{% block title %}Surveys{% endblock title %}
{% block heading %}Dashboard{% endblock heading %}
{% block content %}
  
  </header>
  <div class="container">
    <h1 style="font-size: 27.880000000000006px;">Submissions</h1>
    {% for s in surveys %}
      <div class="row">
        <div class="col">
            
          <h1 style="font-size: 23px;"><i class="fa fa-list-alt"></i>&nbsp; {{ offering.unit_code }}</h1>
          <h1 style="font-size: 20px;">&nbsp; &nbsp; &nbsp; &nbsp; {{ s.title }}</h1>
          <h1 style="font-size: 20px;color: red;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Due - {{ s.date_closed|date:"D d M Y"}} {{ s.date_closed|time:"H:i" }}</h1>
        </div>
        <div class="col">
          <a class="btn btn-primary" type="button" style="background: red;border-bottom-color: red;width: 69px;margin-top: 74px;margin-right: 0px;margin-left: -14px;" href="{% url 'survey_intro_view' s.id %}">
            <i class="fa fa-long-arrow-right"></i>
          </a>
        </div>
      </div>
      {% if now|utc > s.date_opened %}
        <div class="row">
          <div class="col"> 
            <h1 style="font-size: 23px;"><i class="fa fa-list-alt"></i>&nbsp; {{ offering.unit_code }}</h1>
            <h1 style="font-size: 20px;">&nbsp; &nbsp; &nbsp; &nbsp; {{ s.title }}</h1>
            <h1 style="font-size: 20px;color: red;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Due - {{ s.date_closed|date:"D d M Y"}} {{ s.date_closed|time:"H:i" }}</h1>
          </div>
          <div class="col">
            <a class="btn btn-primary" type="button" style="background: red;border-bottom-color: red;width: 69px;margin-top: 74px;margin-right: 0px;margin-left: -14px;" href="{% url 'survey_intro_view' s.id %}">
              <i class="fa fa-long-arrow-right"></i>
            </a></div>
        </div>
      {% elif now|utc < s.date_opened|utc %}
        <div class="row">
          <div class="col">
            <h1 style="font-size: 23px;"><i class="fa fa-list-alt"></i>&nbsp; ICT 302</h1>
            <h1 style="font-size: 20px;color: grey;">&nbsp; &nbsp; &nbsp; &nbsp; Student Peer Evaluation - 2</h1>
            <h1 style="font-size: 20px;color: grey;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Due - 23/07/2021</h1>
          </div>
          <div class="col"><i class="fa fa-lock" style="font-size: 45px;margin-right: 2px;margin-bottom: 40px;"></i></div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock content %}