<!-- templates/student_view.html -->

{% block content %}
  
{% if spe_closed %}
  <a class="btn btn-primary" type="button" href="{% url 'create_team_report' team.id %}">Generate Report</a>
{% endif %}
<table class="tg">
	<thead>
	<tr>
		<th class="tg-70gx">Student ID</th>
		<th class="tg-zv4m">Name</th>
		<th class="tg-zv4m">SPE 1</th>
		<th class="tg-zv4m">SPE 2</th>
	</tr>
	</thead>
	<tbody>
		{% for s in student_data %}
			<tr>
			<td class=" tdh">{{s.student.id_number}}</td>
			<td class="tg-0lax tdh">{{s.user.given_names}} {{s.user.last_name}}</td>

			{% if s.spe_1 == True %}
				<td class="tg-0lax tdh">Yes</td>
			{% else %}
				<td class="tg-0lax tdh">No</td>
			{% endif %}

			{% if s.spe_2 == True %}
				<td class="tg-0lax tdh">Yes</td>
			{% else %}
				<td class="tg-0lax tdh">No</td>
			{% endif %}
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock content %}