<!-- templates/view-surveys.html-->

{% extends 'base.html' %}

{% block title %}Surveys{% endblock title %}

{% block content %}
  
  {% for s in surveys %}
    <div class="card">
      <div class="card-header">
        <span class="font-weight-bold">SPE Survey {{ s.id }}</span> &middot;
        <span class="text-muted">by {{ user.title }} {{ user.given_names }} {{ user.last_name }}|
        {{ s.date_modified }}</span>
      </div>
      <div class="card-body">
        {{ s.questions.count }} questions
      </div>
      <div class="card-footer text-center text-muted">
        <a href="{% url 'edit-survey' s.id %}">Edit</a> | 
        <a href="#">Delete</a>
      </div>
    </div>
  {% endfor %}
{% endblock content %}